html {
    height: 100%;
    overflow: hidden;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*.wcp-center{*/
    /*z-index: 0;*/
/*}*/

.vl-container{
    /*padding: 0 370px 150px 0;*/
    height: 100%;
    background-color: #dcdcdc;
    overflow: hidden;
}
#player {
    width: 100%;
    height: 100%;
}
#down {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    /*height: 200px;*/
    bottom: 38px;
    left: 0;
    right: 0;
    color: white;
    z-index: 5;
    pointer-events: none;
}

#down * {
    pointer-events: all;
}

.player-button{
    position: absolute;
    left: 0;
    top: 15px;
    text-align: center;
    z-index: 5;
    font-size: 1.25em;
    cursor: pointer;
    color: black;
    background-color: rgba(145, 230, 134, 0.6);
    /*border-radius: 35px;*/
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 4px 18px;
}
.player-button i{
    font-size: 16px;
}
.player-button:hover{
    background-color: rgba(145, 230, 134, 1);
}
.center{
    position: absolute;
    margin: auto;
    left: 0; right: 0; top: 0; bottom: 0;
    width: 150px;
    height: 150px;
    z-index: 5;
}


#iframe, #iframe2{
    visibility: hidden;
    /*z-index: 100;*/
    position: absolute;
    width: 300px;
    height: 500px;
}
.popover, .popover * {
    pointer-events: none !important;
    max-width: 350px;
}
.popover{
    color: black;
}

.btn-icon{
    /*padding: 3px 7px;*/
    font-size: 0.8em;
    margin-left: 6px;
    color: #00ff4a;
    cursor: pointer;
}

.bold {font-weight: bold; }
.panel{
    border: 1px solid #b3b3b3;
}

.dialog{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.subtitle{
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 0 30px 0 30px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 1),
        3px 3px 35px rgba(0, 0, 0, 1),
        3px 3px 18px rgba(0, 0, 0, 1),
        1px 1px 0 rgba(0, 0, 0, 0.5),
        -1px -1px 0 rgba(0, 0, 0, 0.5),
        1px -1px 0 rgba(0, 0, 0, 0.5),
        -1px 1px 0 rgba(0, 0, 0, 0.5);
}

@media (max-width: 599px) {
    .subtitle{font-size: 22px;}
    .subtitle2{font-size: 16px;}
}
@media (min-width: 600px) and (max-width: 899px){
    .subtitle{font-size: 24px;}
    .subtitle2{font-size: 18px;}
}
@media (min-width: 900px) and (max-width: 1199px){
    .subtitle{font-size: 26px;}
    .subtitle2{font-size: 19px;}
}
@media (min-width: 1200px) {
    .subtitle{font-size: 28px;}
    .subtitle2{font-size: 22px;}
}

.subtitle2{
    color: #a3a3a3;
    padding-top: 15px;
}

.tooltip{
    opacity: 1 !important;
}
.tooltip > .tooltip-inner {
    background-color: white;
    color: black;
    border: 1px solid #aaa;
}
.tooltip > .tooltip-arrow {
    border-right-color: #aaa !important;
}

.language-select{
    min-width: 110px;
    float: right;
    margin-top: 6px;
    margin-right: 10px;
}

.level1{border-bottom: 3px solid #ff1000;}
.level2{border-bottom: 3px solid #ff8a00;}
.level3{border-bottom: 3px solid #ffff00;}
.level4{border-bottom: 3px solid #00a006;}

i{
    font-size: 14px;
}

.play-btn{
    background-color: #48ff40;
    color: black;
    padding: 6px 20px;
}

.play-btn:hover, .play-btn:focus{
    background-color: #35b12f;
}

.level-selector{
    color: #5d5d5d;
    height: 30px;
    float: left;
    border-bottom: 3px solid #858585;
    box-sizing: border-box;
    margin-right: 4px;
}
.level-selector.level-unchecked{
    opacity: .4;
    border-bottom: 3px solid white;
}
.level-selector:hover{
    opacity: .7;
}
.g-dictionary{
    padding: 15px;
    margin-top: 10px;
    width: 100%;
    clear: both;
}
.sub-buttons{
    text-align: center;
    margin: 0 30px 0 30px;
    padding: 5px 0 12px 0;
    color: rgba(255,255,255,0.3);
    opacity: 0;
}
.down-content:hover > .sub-buttons{
    opacity: 1;
}
.down-content:hover{
    background-color: rgba(0,0,0,0.4);
}
.down-content{
    padding: 10px;
}
.sub-button{
    font-size: 1.35em;
    display: inline-block;
    cursor: pointer;
    color: black;
    background-color: rgba(255,255,255,0.3);
    /*border-radius: 35px;*/
    padding: 4px 18px;
    margin: 5px -1px;
}
.sub-buttons .sub-button:first-child{
    padding: 4px 35px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.sub-buttons .sub-button:last-child{
    padding: 4px 35px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.sub-buttons .sub-button.b-green{background-color: rgba(100,255,100,0.3);}
.sub-buttons .sub-button.b-red{background-color: rgba(255, 200, 93, 0.3);}
/*.sub-buttons .sub-button.b-blue{background-color: rgba(66, 187, 183, 0.3);}*/
.sub-buttons .sub-button.b-green:hover{background-color: rgba(100,255,100,0.7);}
.sub-buttons .sub-button.b-red:hover{background-color: rgba(255, 200, 93, 0.7);}
/*.sub-buttons .sub-button.b-blue:hover{background-color: rgba(66, 187, 183, 0.6);}*/

.sub-buttons .sub-button:hover{
    background-color: rgba(255,255,255,0.7);
    color: rgb(0, 0, 0);
}
