<div class="panel panel-default dialog" style="width: 330px; height: 200px;">
    <div class="panel-heading">
        Keyboard Shortcuts
        <a href class="pull-right" ng-click="data.dialog = null">
            Close
        </a>
    </div>
    <div class="panel-body">

        <table class="about-table">
            <tr>
                <td><b>Left / right arrow: </b></td>
                <td>previous / next</td>
            </tr>
            <tr>
                <td><b>R key: </b></td>
                <td>replay current subtitle</td>
            </tr>
            <tr>
                <td><b>Space: </b></td>
                <td>play / pause</td>
            </tr>
            <tr>
                <td><b>Up / down arrow: </b></td>
                <td>volume up / down</td>
            </tr>
        </table>
        <b>
    </div>
</div>